<footer>
    <img class="footer__image logo-density" src="{{ '/assets/images/logo_nyu.png' | relative_url }}" alt="NYU logo">
    <img class="footer__image logo-poli" src="{{ '/assets/images/logo_poli.png' | relative_url }}" alt="Politecnico di Milano logo">
    <div class="footer__item">
        <h6 class="footer__title">Project by</h6>
        <ul class="footer__list">
            {% assign members = site.pages[0].members | split: ', ' %}
            {% for member in members %}
            <li>{{ member }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer__item">
        <h6 class="footer__title">Faculty</h6>
        <ul class="footer__list">
            <li>Victoria Alsina</li>
            <li>Enrico Bertini</li>
            <li>Paola Bertola</li>
            <li>Marco Brambilla</li>
            <li>Stefano Ceri</li>
            <li>Michele Mauri</li>

        </ul>
    </div>
</footer>
