html {
  --color-accent: #fd8326;
  --color-main: #8929a9;
  --color-dark: #333333;
  --color-medium: #000;
  --color-light: #f8f2f8;
  --color-lightest: #f8f2f8;
  --font-display: 'nimbus-sans', sans-serif;
  --font-text: 'gimlet-display', serif;
}
